* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: cadetblue;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: darkcyan;
}
nav {
  float: left;
  width: 25%;
  background: lightgray;
  padding: 20px;
  height: 450px;
}
nav ul {
  list-style-type: none;
  padding: 5px;
}
article {
  float: left;
  padding: 20px;
  width: 75%;
  background-color: mediumslateblue;
  height: 450px;
}
footer {
  background-color: navajowhite;
  padding: 20px;
  text-align: center;
  color: teal;
}
section:after {
  content: none;
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
